@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar{
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem
}

.nav-ul{
    color: #000;
    list-style-type: none;
    display: flex;
}

.nav-li{
    padding: 0.5rem 1.25rem;
}

.nav-li:nth-last-child(1){
    padding-right: 3.5rem;
}

.nav-li a{
    text-decoration: none;
    color: #000;
    position: relative;
}

.nav-li a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-li a:hover:after { 
    width: 100%; 
    left: 0; 
}

.nav-li{
    font-size: 1.2rem;
    font-weight: 550;
}

.nav-left{
    padding: 0.5rem 1.5rem;
    font-size: 2.25rem;
    font-weight: 750;
}

.nav-left:hover{
    color: rgb(48, 45, 45);
}

.main-section{
    margin: 6.25rem auto;
}

.main-section .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-section .container .left-main{
  width: 60%;
  max-width: 37.5rem;
  padding: 1.875rem;
  text-align: center;
}

.main-section .container .illu-1{
    margin:  6.25rem;
}

.main-section .container .left-main h1{
    font-size: 2.5rem;
}

.main-section .container .left-main article{
    font-size: 1.25rem;
    font-weight: 400;
}

.main-section .container .left-main button{
    margin-top: 1rem;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.75rem;
    border-radius: 1.5rem;
    border: none;
    color: #fff;
    background-color: #000;
}

.main-section .container .left-main button:hover{
    background-color: rgb(202, 199, 199);
    color: #000;
}


.about-section{
    margin: 6.25rem auto;
}

.about-section .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-section .container .right-main{
  width: 60%;
  max-width: 37.5rem;
  padding: 1.875rem;
  text-align: center;
  margin-right: 5.25rem;
}

.about-section .container .illu-2{
    margin: 0 0 0 6.25rem;
}

.about-section .container .right-main h1{
    font-size: 2.5rem;
}

.about-section .container .right-main article{
    font-size: 1.25rem;
    font-weight: 400;
}



img{
    width: 40rem;
    height: auto;
}


@media(max-width : 1160px){
    img{
        width: 25rem;
        height: auto;
    }

    .main-section .container .left-main{
        width: 80%;
        max-width: 50rem;
        padding: 1.875rem;
      }

    .about-section .container .right-main{
        width: 80%;
        max-width: 50rem;
        padding: 1.875rem;
      }

}

@media(max-width: 918px){


    .navbar{
        flex-direction: column;
    }

    .main-section .container{
        flex-direction: column;
        align-items: center; 
    }

    .main-section .container .illu-1{
        margin: 0;
    }

    .illu-1{
        padding: 2rem;
    }

    .about-section .container{
        flex-direction: column-reverse;
        align-items: center; 
    }

    .about-section .container .illu-2{
        margin: 0;
    }

    .illu-2{
        padding: 2rem;
    }
    
}

