@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar{
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
}

.nav-ul{
    color: #000;
    list-style-type: none;
    display: flex;
}

.nav-li{
    padding: 0.5rem 1.25rem;
}

.nav-li:nth-last-child(1){
    padding-right: 3.5rem;
}

.nav-li a{
    text-decoration: none;
    color: #000;
    position: relative;
}

.nav-li a:after {    
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-li a:hover:after { 
    width: 100%; 
    left: 0; 
}

.nav-li{
    font-size: 1.2rem;
    font-weight: 550;
}

.nav-left{
    padding: 0.5rem 1.5rem;
    font-size: 2.25rem;
    font-weight: 750;
}

.nav-left:hover{
    color: rgb(48, 45, 45);
}

.main-section{
    margin: 4rem auto;
}

.main-section .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-section .container .left-main{
  width: 60%;
  max-width: 37.5rem;
  padding: 1.875rem;
  text-align: center;
}

.main-section .container .illu-1{
    margin:  6.25rem;
}

.main-section .container .left-main h1{
    font-size: 2.5rem;
}

.main-section .container .left-main article{
    font-size: 1.25rem;
    font-weight: 400;
}

.main-section .container .left-main button{
    margin-top: 1.3rem;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 1rem;
    border-radius: 1.5rem;
    border: none;
    color: #fff;
    background-color: #000;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.main-section .container .left-main button:focus{
    outline: none;
}

.main-section .container .left-main button:hover{
    background-color: rgb(202, 199, 199);
    color: #000;
}


.about-section{
    margin: 6.25rem auto;
}

.about-section .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-section .container .right-main{
  width: 60%;
  max-width: 37.5rem;
  padding: 1.875rem;
  text-align: center;
  margin-right: 5.25rem;
}

.about-section .container .illu-2{
    margin: 0 0 0 6.25rem;
}

.about-section .container .right-main h1{
    font-size: 2.5rem;
}

.about-section .container .right-main article{
    font-size: 1.25rem;
    font-weight: 400;
}


.contact-section{
    width: 34.375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;
    color: #fff;
    background: #000;
    border-radius: 2rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.contact-section h2{
    font-size: 2rem;
}

.contact-section form{
    display: flex;
    flex-direction: column;
    /* margin: 2rem; */
}

.contact-section form label{
    padding: 0.5rem 0;
    font-size: 1rem;
}

.contact-section form input{
    border-radius: 1rem;
    font-size: 1.1rem;
    padding: 0.75rem;
    background-color: rgb(250, 246, 246);
}

.contact-section form input:focus{
    outline: none;
}

.contact-section form textarea{
    border-radius: 1rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    background-color: rgb(250, 246, 246);
}

.contact-section form textarea:focus{
    outline: none;
}

.contact-section form .input-sub{
    margin-top: 1rem;
    padding: 0.5rem 0;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.75rem;
    border-radius: 1.5rem;
    border: none;
    color: #fff;
    background-color: #000;
    border: 1.5px solid #fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.contact-section form .input-sub:hover{
    color: #000;
    background-color: #fff;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    color: #000;
}

.icons{
    padding: 0.75rem;
}

.icons a{
    text-decoration: none;
    color: #000;
    padding: 2rem;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.copy-sec{
    margin-bottom: 1rem;
}

img{
    width: 40rem;
    height: auto;
}


@media(max-width : 1160px){
    img{
        width: 25rem;
        height: auto;
    }

    .main-section .container .left-main{
        width: 80%;
        max-width: 50rem;
        padding: 1.875rem;
      }

    .about-section .container .right-main{
        width: 80%;
        max-width: 50rem;
        padding: 1.875rem;
      }

}

@media(max-width: 918px){

    body{

        overflow-x: hidden;
        margin: 0 auto;
    }

    .navbar{   
        flex-direction: column;
    }

    .nav-li{
        padding: 0 1.25rem;
    }

    .main-section .container{
        flex-direction: column;
        align-items: center; 
    }

    .main-section .container .left-main{
        display: flex;
        flex-direction: column;
    }

    .main-section .container .illu-1{
        margin: 0;
    }

    .illu-1{
        padding: 2rem;
    }

    .about-section .container{
        flex-direction: column-reverse;
        align-items: center; 
    }

    .about-section .container .right-main{
        margin-right: 0;
        display: flex;
        flex-direction: column;
    }

    .about-section .container .illu-2{
        margin: 0;
    }

    .illu-2{
        padding: 2rem;
    }

    .contact-section{
        width: 25rem;
        padding: 2rem;
    }
    
    .footer{
        margin-bottom: 2rem;
    }
}

@media(max-width: 360px){

    img{
        width: 18rem;
        height: auto;
    }

    .contact-section{
        width: 20rem;
        margin-left: 1.78rem ;
    }
}
